body {
	margin: 0;
}
canvas {
	display: block;
}
#broadcast {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 4rem;
	font-family: "Segoe UI Light", sans-serif;
	pointer-events: none;
}
#broadcast > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}